<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gangoffive.rig2gig">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TabbedVenueActivity"></activity>
        <activity
            android:name=".VenueAdvertIndexActivity"
            android:label="@string/title_activity_venue_advert_index"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".NotificationService" />

        <activity android:name=".CreateMusicianAccountActivity" />

        <service android:name=".NotificationService" />
        <service
            android:name=".FirebaseNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".AccountPurposeActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications_active_black_24dp" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".NavBarActivity" />
        <activity android:name=".VenueActivity" />
        <activity android:name=".MyBandActivity" />
        <activity android:name=".CreateBandActivity" />
        <activity android:name=".BandListingDetailsActivity" />
        <activity android:name=".MusicianListingDetailsActivity" />
        <activity android:name=".VenueListingDetailsActivity" />
        <activity
            android:name=".BandAdvertisementEditor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".MusicianAdvertisementEditor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".PerformerAdvertisementEditor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MusicianDetailsEditor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BandDetailsEditor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VenueAdvertisementEditor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VenueDetailsEditor"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- android:theme="@style/AppTheme" -->
        <!-- android:windowSoftInputMode="adjustResize"/> -->
        <activity
            android:name=".PerformanceListingDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".CredentialActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".RegisterActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ConcreteFanNavBar"
            android:parentActivityName=".NavBarActivity" />
        <activity
            android:name=".ConcreteMusicianNavBar"
            android:parentActivityName=".NavBarActivity" />
        <activity
            android:name=".ConcreteVenueNavBar"
            android:parentActivityName=".NavBarActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>